<h1>New Question</h1>
<%= form_for @question,:url => { :action => "create" } do |f| %>﻿
  <p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  </p>
  <p>
   <%= f.label :body %><br />
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
  </p>
  <p>
    <%= f.submit %>
    </p>
    <% end %>